page-home {
    ion-content {
       

        .top {
            background-color: #73C700;
            width: 100%;
            height: 40%;
            margin-top: 0%;
            top: 0%;
        }
        .logo {
            margin-top: 27%;
            margin-left: 41%;     
        }

    }

}
