page-enrollement {
    .connexion-inputs {
        width: 85%;
        background: transparent;

        
        .icon-input {
            width: 1em;
            height: 1em;
            margin-right: 10px;

        }
        .buttons {
            
        }
        
    }

}
